html, body {
    height: 100%;
}

.banner {
    background-color: #7abc00;
    position: relative;
    overflow: hidden;
    z-index: 0;
    height: 300px;
}

.brand {
    font-family: 'Permanent Marker', cursive;
    font-size: 60px;
    color: white;
    margin-top: 20px;
}

#dragon {
    position: absolute;
    max-height: 300px;
    left: 150px;
    top: -100px;
    display: none;
}

#castle {
    position: absolute;
    max-height: 200px;
    bottom: -30px;
    left: -9999px;
    right: -9999px;
    z-index: 1;
}

#tree {
    position: absolute;
    max-height: 150px;
    right: 150px;
    bottom: -1px;
    display: none;
}

.spacer {
    background-color: white;
    height: 500px;
}

#about-section {
    background-color: darkgreen;
    opacity: 0;
    flex-direction: column;
}

#profile-photo {
    max-width: 400px;
    max-height: 400px;
    opacity: 0;
}

p {
    max-width: 400px;
    opacity: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

#about-section {
    color: white;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
}

.project-screen {
    max-width: 250px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.footer {
    background-color: #7abc00;
}

#email {
    color: white;
}

.logo {
    max-width: 75px;
    max-height: 75px;
}

@media only screen and (min-width: 1200px) {
    #dragon, #tree {
        display: block;
    }
    #about-section {
        flex-direction: row;
    }
    p {
        margin-top: auto;
        margin-bottom: auto;
    }
}

@media only screen and (max-width: 768px) {

}