
html, body {
    height: 100%;
}

nav {
    background-color: forestgreen;
    position: relative;
}

.navbar-brand {
    font-family: 'Permanent Marker', cursive;
    font-size: 60px;
}

.nav-link {
    font-weight: bold;
    font-size: 20px;
}

#conifer {
    position: absolute;
    max-height: 125px;
    left: 100px;
    bottom: 0px;
}

#deciduous {
    position: absolute;
    max-height: 125px;
    left: 200px;
    bottom: 0px;
}

#dragon {
    position: absolute;
    max-height: 125px;
    right: 25px;
    bottom: 0px;
}

#archer {
    position: absolute;
    max-height: 50px;
    right: 200px;
    bottom: 0px;
}

#grass {
    position: absolute;
    max-height: 75px;
    left: 150px;
    bottom: 0px;
}

#bird {
    position: absolute;
    max-height: 25px;
    left: 175px;
    bottom: 75px;
}

#castle {
    position: absolute;
    max-height: 150px;
    right: 300px;
    bottom: -20px;
}

#moose {
    position: absolute;
    max-height: 50px;
    left: 325px;
    bottom: 0px;
}

#tree-2 {
    position: absolute;
    max-height: 150px;
    left: 375px;
    bottom: -5px;
}